/* Tabla responsiva */
.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    /* Soporte en dispositivos móviles */
}

/* Ampliar la columna de Talla */
.col-talla {
    width: 80px;
    /* Ajusta según sea necesario */
}

.col-acciones {
    width: 105px;
}

/* Colores y bordes de la tabla */
.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}

.table th,
.table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.table th {
    background-color: #343a40;
    color: #fff;
    font-weight: bold;
}

.table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table-hover tbody tr:hover {
    background-color: #f1f1f1;
}

/* Texto centrado */
.text-center {
    text-align: center;
}


h2 {
    text-align: center;
    color: rgb(61, 61, 156);
}

h2:hover {
    color: rgb(27, 84, 206);
}